<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Web Lab 2</display-name>



    <!-- Контроллер сервлет -->
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.ren1kron.controller.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!-- Обслуживающий сервлет -->
    <servlet>
        <servlet-name>AreaCheckServlet</servlet-name>
        <servlet-class>com.ren1kron.service.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AreaCheckServlet</servlet-name>
        <url-pattern>/areaCheck</url-pattern>
    </servlet-mapping>

    <!-- Настройка welcome file -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
